

<div id="preloader">
  <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<div class="contentpanel">
  <div class="panel panel-body">
    <header style="text-align: center">
      <h4>人员工资页面</h4>
    </header>

    <div class="content-body"> 
      <div class="panel">
        <div class="panel-heading" style="background-color: #fff;">
          <span style="display:inline-block;">
            <span style="display:inline-block;">
              <%= form_tag "#", method: :get do%>
              <%= label_tag :"请选择年份和月份：" %>
              <%= select_tag(:year, options_for_select(Wage.pluck(:year).uniq), {:required => "true"}) %>
              <%= select_tag(:month, options_for_select(Wage.pluck(:month).uniq), {:required => "true"}) %>
              <%= submit_tag :筛选 %>
              <% end %>
            </span>
          </span>
          <span style="float: right;"> 
            <%= link_to("导入工资表", "#",class:"btn btn-primary-upload pull-right") %>
            <%= link_to("单个录入", "#",class:"btn btn-primary-upload pull-right") %>
          </span>
        </div>
      </div>
      <div class="content-table" style="clear:both;">
        <table>
          <thead>
            <tr>
              <th>操作</th>
              <th>姓名</th>
              <th>工号</th>
              <th>工种</th>
              <th>本月应发现金</th>
              <th>本月应发易货币</th>
              <th>本月应发合计</th>
              <th>本月实发现金</th>
              <th>本月实发易货币</th>
              <th>本月实发合计</th>
              <th>累计未发现金</th>
              <th>累计未发易货币</th>
              <th>累计未发合计</th>
              <th>日期</th>
            </tr>
          </thead>
          <tbody>
            <% @employees.each do |employee| %>
              <% if Wage.find_by(employee_id: employee.id, year: Time.now.year, month: Time.now.month).present? %>
                <% wage = Wage.find_by(employee_id: employee.id, year: Time.now.year, month: Time.now.month) %>
                <tr class="row-click-able" data-url="/wages/<%= wage.id%>">
                  <td>
                    <%= link_to("发工资", "#",class:"btn btn-primary btn-xs") %>
                    <%= link_to("修改", "#",class:"btn btn-primary btn-xs") %>
                  </td>
                  <td><%= employee.name %></td>
                  <td><%= employee.job_number %></td>
                  <td><%= employee.worktype %></td>
                  <td><%= wage.gross_cash %></td>
                  <td><%= wage.gross_virtual_money %></td>
                  <td><%= wage.gross_total %></td>
                  <td><%= wage.net_cash %></td>
                  <td><%= wage.net_virtual_money %></td>
                  <td><%= wage.net_cash + wage.net_virtual_money %></td>
                  <td><%= wage.accumulative_cash %></td>
                  <td><%= wage.accumulative_virtual_money %></td>
                  <td><%= wage.accumulative_cash + wage.accumulative_virtual_money %></td>
                  <td><%= wage.year %>年<%= wage.month %>月</td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>      
      </div>
    </div>
  </div>
 </div>


